# Model NAME

- small description of the model (data normalization, model type, techniques used, ...)

- features used (hcpi_m, anything else?)

- version (update of other model? what did you change?)

In [9]:
import pandas as pd

In [10]:
hcpi = pd.read_parquet("data/hcpi_m.parquet")
hcpi.head()

,ABW,AFG,AGO,ALB,ARE,ARG,ARM,ATG,AUT,AZE,...,VCT,VEN,VGB,VNM,WSM,XKX,YEM,ZAF,ZMB,ZWE
1970-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.48557,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.750407,NaN,NaN
1970-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.46568,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.750407,NaN,NaN
1970-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.48557,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.750407,NaN,NaN
1970-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.54521,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.796470,NaN,NaN
1970-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.64462,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.796470,NaN,NaN

In [11]:
hcpi.loc["2003-08", "PRT"]

2003-08-01    82.291
Name: PRT, dtype: float64